

CentralWidget{
    background-color: rgb(32, 38, 46);
}

SideBarWidget{
    qproperty-minimized_width: 50;
    background-color: rgb(17, 22, 28);

}

SideBarButtonWidget{
    qproperty-minimized_width: 50;
    qproperty-icon_scale: 0.5;
    border: 0px;
    background-color: rgb(17, 22, 28);
    border-bottom: 1px solid rgb(38, 48, 64);
}

SideBarButtonWidget:first{
    qproperty-minimized_width: 50;
    qproperty-icon_scale: 0.6;
    border: 0px;
    background-color: rgb(17, 22, 28);
    border-top: 1px solid rgb(38, 48, 64);
}

SideBarButtonWidget:hover{
    background-color: rgb(44, 56, 74);
}

SideBarButtonWidget:pressed{
    background-color: rgb(237, 156, 24);
}

SideBarButtonWidget:checked{
    background-color: rgb(224, 70, 43);
}

SideBarButtonWidget QLabel{
    color: white;
    font-weight: 700;
    font-size: 13pt;
}


/* NEXT SECTION --------------------------------------------------- */



CalendarWidget{
    background-color: rgb(207, 207, 207);
    qproperty-width_left_side: 190;
}

DateWidget{
    qproperty-day_cell_width: 40;
    qproperty-day_cell_height: 40;
    qproperty-day_month_height: 40;
}

RoomsTabWidget{
    qproperty-day_cell_width: 40;
    qproperty-day_cell_height: 40;
}

DateUserInformerWidget QLabel{
    background-color: rgb(70, 111, 99);
    font-weight: 700;
    font-size: 10pt;
    border: 1px solid rgb(216, 216, 216);
    border-top: 0px;
    border-left: 0px;
    color: white;
}

RoomsTabWidget QLabel{
    color: white;
    background-color: rgb(86, 131, 111);
    padding:7px;
    font-size: 11pt;
    font-weight: 700;
}

RoomsTabWidget QTableView{
    font-weight: 700;
}

RoomsTabWidget QTableView::item:selected{
    background-color: #FF2400;
}

